<section class="main__section main__section--services">
  <div class="main__section__container title">
    <h2>Crypto Sale</h2>
    <p class="text">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
    </p>
  </div>
  <div class="container main__section__container scrolling-row">
    <div class="left-column">
      <div class="sticky-content">
        <h2 id="active-title">1.Lörem ipsum dorade boktig till geosylig postmodern.</h2>
        <div id="active-text" class="text">1.Lörem ipsum sosm niliga syntris.</div>
      </div>
    </div>
    <div class="right-column">
      <div class="cards-wrapper">
        <div class="cards-inner">
          <div class="card" data-index="0">1. Lörem ipsum dorade boktig till geosylig postmodern.
          </div>
          <div class="card" data-index="1">2. Lörem ipsum dorade boktig till geosylig postmodern.
          </div>
          <div class="card" data-index="2">3. Lörem ipsum dorade boktig till geosylig postmodern.
          </div>
          <div class="card" data-index="3">4. Lörem ipsum dorade boktig till geosylig postmodern.
          </div>
          <div class="card" data-index="4">5. Lörem ipsum dorade boktig till geosylig postmodern.
          </div>
          <div class="card" data-index="5">6. Lörem ipsum dorade boktig till geosylig postmodern.
          </div>
          <div class="card" data-index="6">7. Lörem ipsum dorade boktig till geosylig postmodern.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>