<section>
  <div class="main__section__container title">
    <h2>Crypto Sale</h2>
    <p class="text">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
    </p>
  </div>
  <div class="container vertical-slider__container">
    <div class="vertical-slider__content scrolling-row">
      <div class="vertical-slider__header">
        <p class="vertical-slider__subtitle" id="active-text">
          Lörem ipsum sosm niliga syntris.
        </p>
        <h3 class="vertical-slider__title-active" id="active-title">
          Lörem ipsum häsat promotiv sedan depatologi tenes.
        </h3>
      </div>

      <div class="vertical-slider__wrapper">
        <div class="vertical-slider__slides cards-inner">
          <div class="vertical-slider__slide card" data-title="Lörem ipsum dorade boktig till geosylig postmodern.1"
            data-text="1.Lörem ipsum sosm niliga syntris.">
            <p>Lörem ipsum dorade boktig till geosylig postmodern.1</p>
          </div>
          <div class="vertical-slider__slide card" data-title="Lörem ipsum dorade boktig till geosylig postmodern.2"
            data-text="2.Lörem ipsum sosm niliga syntris.">
            <p>Lörem ipsum dorade boktig till geosylig postmodern.2</p>
          </div>
          <div class="vertical-slider__slide card" data-title="Lörem ipsum dorade boktig till geosylig postmodern.3"
            data-text="3.Lörem ipsum sosm niliga syntris.">
            <p>Lörem ipsum dorade boktig till geosylig postmodern.3</p>
          </div>
          <div class="vertical-slider__slide card" data-title="Lörem ipsum dorade boktig till geosylig postmodern.4"
            data-text="4.Lörem ipsum sosm niliga syntris.">
            <p>Lörem ipsum dorade boktig till geosylig postmodern.4</p>
          </div>
          <div class="vertical-slider__slide card" data-title="Lörem ipsum dorade boktig till geosylig postmodern.5"
            data-text="5.Lörem ipsum sosm niliga syntris.">
            <p>Lörem ipsum dorade boktig till geosylig postmodern.5</p>
          </div>
          <div class="vertical-slider__slide card" data-title="Lörem ipsum dorade boktig till geosylig postmodern.6"
            data-text="6.Lörem ipsum sosm niliga syntris.">
            <p>Lörem ipsum dorade boktig till geosylig postmodern.6</p>
          </div>
          <div class="vertical-slider__slide card" data-title="Lörem ipsum dorade boktig till geosylig postmodern.7"
            data-text="7.Lörem ipsum sosm niliga syntris.">
            <p>Lörem ipsum dorade boktig till geosylig postmodern.7</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>