@use 'variables.scss' as *;

/* Token section */

.token__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.token {
  position: relative;
}

.token::before {
  content: '';
  top: -280px;
  width: 289px;
  height: 411px;
  position: absolute;
  
  right: 150px;
  background-image: linear-gradient(#174aff, #184bff);
  filter: blur(150px);
  z-index: -1;
}

.token__wrapper-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.token__title {
  text-align: center;
  text-wrap: balance;
}

.token__description {
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: $gray-30-color;
}

.token__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.token__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  border-radius: 20px;
  padding: 18px;
  backdrop-filter: blur(50px);
  border: 2px solid transparent;
}

.token__item-bg {
  border-radius: 20px;
  background: radial-gradient(68.34% 88.05% at 9.86% -26.12%,
  
        rgba(62, 238, 227, 0.5) 0%,
        rgba(62, 69, 238, 0) 100%),
      radial-gradient(81.18% 98.69% at 113.3% 120.61%,
        rgba(223, 29, 255, 0.35) 0%,
        rgba(72, 205, 255, 0) 100%),
      linear-gradient(98deg,
        rgba(41, 46, 75, 0.23) 0%,
        rgba(37, 40, 58, 0.11) 100%,
        rgba(41, 46, 75, 0.11) 100%);
}


.token__item-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  color: $section-title-color;
}

.token__item-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: $gray-02-color;
}

.token__item-icon {
  display: none;
}

@media (min-width: 1280px) {
  .token__container {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
  }

  .token::before {
    top: -420px;
    right: calc(50% - 654px);
  }

 
  .token__description {
    font-size: 16px;
    width: 500px;
  }

  .token__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .token__item {
    gap: 18px;
    text-align: start;
    height: 100%;
    padding: 30px 37px;
  }

    .token__item:hover{
      background: linear-gradient($bg-main-color, $bg-main-color) padding-box,
        $gradient-border;
      border: 2px solid transparent;
      background-size: 200% 200%;
      box-shadow: 2px 2px 9px 3px rgba(161, 128, 255, 0.30);
      animation: gradient-border 3s linear infinite;
    }

  .token__item-icon {
    display: block;
  }

  .token__item-bg:nth-child(2) {
    background: radial-gradient(
        46.55% 56.79% at 0% 105.61%,
        rgba(62, 238, 227, 0.5) 0%,
        rgba(62, 69, 238, 0) 100%
      ),
      radial-gradient(
        36.2% 43.15% at 103.42% -8.18%,
        rgba(223, 29, 255, 0.35) 0%,
        rgba(72, 205, 255, 0) 100%
      ),
      linear-gradient(
        98deg,
        rgba(41, 46, 75, 0.23) 0%,
        rgba(37, 40, 58, 0.11) 100%,
        rgba(41, 46, 75, 0.11) 100%
      );
  }

  .token__item-title {
    font-size: 32px;
  }

  .token__item-description {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .token__item {
    padding: 29px 77px;
  }
}
